body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
*, *:before, *:after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.wrap
{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
a
{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}
.h4
{
    text-transform: uppercase;
}
.black
{
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}
.white
{
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.black-text
{
    color: #000;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.3;
}
.down
{
    height: 100px;
}
/*header start*/
.header
{
    background-color: #080b1a;
}
.box-header
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo
{
    display: block;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    width: 149px;
    height: 37px;
    margin: 25px 55px 35px 0;
}
.nav
{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
    margin: 45px 0px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav>li
{
    padding: 0 20px; 
}
.nav-item
{
    color: #fff;
}
.nav .nav-item:hover
{
    font-weight: 600;
    color: rgb(201, 192, 192);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.tel
{
    padding-left: 100px;
}
.telefon
{
    color: #fff;
    font-size: 20px;
}
.cog
{
    margin: 0px auto -4px 20px;
}
.btn-menu
{
    background-color: inherit;
    border: none;
    display: none;
}
.btn-menu:focus
{
    outline: none;
}
.btn-menu svg
{
    width: 30px;
    height: 30px;
}
.btn-close
{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 35px;
}
.btn-close:hover
{
    font-size: 40px;
}
.btn-close:focus
{
    outline: none;
}
.nav>li:last-child
{
    padding-right: 0;
} 
.modal
{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: -40px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding:  20px 15px 50px 15px;
}
.nav-modal
{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
    margin: 45px 0px;
    padding: 0;
}
.nav-modal .nav-item
{
    color: #000;
}
.nav-modal>li
{
    margin-bottom: 12px;
}
/*header end*/
/*intro start*/
.intro
{
    background-image: url(../image/intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.intro .wrap
{
    text-align: center;
}
.intro-content
{
    padding: 200px 0;
}
.intro-content>h1
{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}
.intro-content>p
{
    color: #fff;
    margin-bottom: 50px;
}
.btn-intro
{
    background-color: #5860cb;
    border: 2px solid #5860cb;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
}
.btn-intro:hover
{
    background-color: #fff;
	border: none;
    color: #000;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
/*intro end*/
/*page-about start*/
.page-about-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px 0;
}
.page-about-content-left
{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.page-about-content-left>p
{
    margin: 0;
}
.about-p
{
    padding: 20px 0;
    font-size: 25px;
}
.about-p>span
{
    text-decoration: line-through;
}
.about-a
{
    padding: 40px 0;
}
.btn-about
{
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.about-image
{
    background-image: url(../image/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 532px;
    height: 540px;
}
/*page-about end*/
/*services-text start*/
.services-text
{
    background-color: #080b1a;
}
.services-text .wrap
{
    text-align: center;
}
.st-item
{
    padding: 100px 0 180px 0;
}
.st-item .white
{
    font-size: 1rem;
}
.st-item>p
{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
/*services-text end*/
/*services-grid start*/
.serveces-grid
{
    margin-top: -150px;
    margin-bottom: 50px;
}
.grid
{
    display: grid;
    grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr [line4];
    grid-template-rows: [row1] 50% [row2] 50% [row3];
    max-width: 1150px;
    justify-items: center;
}
.grid-icon
{
    max-width: 300px;
}
.grid-item
{
	max-width: 300px;
	background-color: #f5f9fb;
	margin: 20px 0 0 0;
}
.grid-item:hover
{
	-webkit-box-shadow: 0 0 5px #000;
	        box-shadow: 0 0 5px #000;
}
.grid-item>p
{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 20px 0;
}
.grid-icon1
{
    background-image: url(../image/grid1.png);
    width: 300px;
    height: 200px;
}
.grid-icon2
{
    background-image: url(../image/grid2.png);
    width: 300px;
    height: 200px;
}
.grid-icon3
{
    background-image: url(../image/grid3.png);
	width: 300px;
    height: 200px;
}
.grid-icon4
{
    background-image: url(../image/grid4.png);
    width: 300px;
    height: 200px;
}
.grid-icon5
{
    background-image: url(../image/grid5.png);
    width: 300px;
    height: 200px;
}
.grid-icon6
{
    background-image: url(../image/grid6.png);
    width: 300px;
    height: 200px;
}
.serveces-flex-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.serveces-flex-content
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 60px 0;
}
.grid-flex
{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.grid-content 
{
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 45px;
	height: 45px;
}
.grid-team
{
	background-image: url(../image/grid-team.png);
}
.grid-service
{
	background-image: url(../image/grid-service.png);
}
.grid-support
{
	background-image: url(../image/grid-support.png);
}
.grid-text
{
	-ms-flex-preferred-size: 80%;
	    flex-basis: 80%;
}
/*serveces-grid end*/
/*page-testimonals start*/
.page-testi
{
    background-color: #f8f9fc;
}
.testi
{
	display: grid;
    grid-template-areas: "b a" "b c";
    max-width: 1150px;
    grid-template-columns: 1fr 1fr ;
    padding: 70px 0 0 0;
}
.testi1
{
	 grid-area: a;
}
.testi2
{
	 grid-area: b;
}
.testi3
{
	 grid-area: c;
}
.customer
{
	font-size: 20px;
}
.customer>span
{
	font-weight: 600;
	text-decoration: underline;
}
.testi-left
{
	background-image: url(../image/testi-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.testi-right
{
	text-align: left;
}
.testi-right>p
{
	margin: 15px 0;
}
.testi-right-text
{
    padding: 0;
    margin: 0;
	font-size: 25px;
}
/*page-testimonals end*/
/*page-team start*/
.page-team
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.team-left
{
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    background-color: #080b1a;
}
.team-left-content
{
    margin: 30px 95px;
    padding: 100px 10px;
}
.team-left-content>p
{
    color: #f3f3f3;
}
.team-left-text
{
    line-height: 1.3;
    color: #bbb;
    font-size: 35px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.team-left-name>span
{
    font-weight: 800;
	color: #bbb;
}
.team-right
{
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../image/syuzhet.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.team-right-1
{
    background-image: url(../image/team1.png);
    width: 171px;
    height: 400px;
}
.team-right-2
{
    background-image: url(../image/team2.png);
    width: 171px;
    height: 400px;
}
.team-right-3
{
    background-image: url(../image/team3.png);
    width: 171px;
    height: 400px;
}
.team-right-4
{
    background-image: url(../image/team4.png);
    width: 171px;
    height: 400px;
}
/*page-team end*/
/*page-blog start*/
.page-blog
{
    margin-top: 100px;
}
.blog
{
    text-align: center;
}
.blog>p
{
    margin: 0;
}
.blog-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.blog-content-item
{
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: left;
    background-color: #f3f9fa;
    margin: 50px 20px 40px 10px;
    padding: 15px 0 15px 20px;
}
.blog-content-item:hover
{
    -webkit-box-shadow: 0 0 5px #3d3737;
            box-shadow: 0 0 5px #3d3737;
}
.blog-content-item>p>strong
{
    font-size: 20px;
}
.blog-creater
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.blog-date
{
   padding-right: 20px;
}
/*page-blog end*/
/*page-company start*/
.company-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    padding: 10px 0;
}
.company-content-size
{
	width: 175px;
	height: 175px;
}
/*page-company end*/
/*page-progress start*/
.page-progress
{
    background-color: #080b1a;
    height: 220px;
}
.progress
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.progress-block1, .progress-block2
{
	-ms-flex-preferred-size: 44%;
	    flex-basis: 44%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.progress-item 
{
	color: #fff;
	font-size: 1.7rem;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	margin: 45px 0;
	padding-left: 25px;
}
/*progress end*/
/*contact start*/
.contact
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px auto;
}
.contact-text
{
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
}
.btn-contact
{
    color: #000;
    font-weight: 600;
    border: 2px solid #000;
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: #fff;
}
.btn-contact:hover
{
    color: #fff;
    background-color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
/*contact end*/
/*footer start*/
.logo-black
{
    display: block;
    background-image: url("../image/logo-black.png");
    background-repeat: no-repeat;
    width: 149px;
    height: 37px;
    margin: 25px 55px 35px 0;
}
.footer-0
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-1
{
    -ms-flex-preferred-size: 34%;
        flex-basis: 34%;
    margin-right: 70px;
}
.footer-1 .footer-text
{
    font-weight: 600;
}
.footer-2, .footer-3
{
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin: 10px 10px;
}
.footer-4 
{
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    margin: 10px 10px;
}
.footer-2 .text, .footer-3 .text, .footer-4 .text
{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.footer-2>ul,.footer-3>ul,.footer-4>ul 
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-a
{
    color: #000;
    line-height: 2;
}
.footer-a:hover
{
    font-weight: 800;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.address
{
    line-height: 2;
}
/*footer end*/
/*MEDIA*/
@media (max-width: 1200px)
{
	.page-team
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
    }
    .team-left-content 
    {
        margin: 30px 20px;
        padding: 20px 70px 20px 70px;
    }
}
@media (max-width: 1160px)
{
    .nav
    {
        display: none;
    }
	.modal 
	{
		max-width: 200px;
		padding: 0px 0px 0px 0px;
		background-color: inherit;
		border:none;
	}
	.btn-close
	{
		color: #fff;
		left: 45px;
	}
	.nav-modal 
	{
		font-size: 14px;
		margin: 50px 0 0 0;
	}
	.nav-modal .nav-item
	{
		color: rgb(201, 192, 192);
        font-weight:800;
	}
	.nav-item:hover
	{
		font-size: 16px;
        font-weight:600;
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
	}
    .tel
    {
        padding-left: 0;
    }
    .btn-menu
    {
        display: inline;
    }
    .btn-menu-item
    {
        margin: 0;
    }
    .box-header
    {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
	.page-blog 
	{
		margin-top: 40px;
	}
	.blog-content-item
	{
		-ms-flex-preferred-size: 30%;
		    flex-basis: 30%;
		margin: 20px 20px 10px 10px;
		padding: 10px;
	}
	.footer-4 
	{
		-ms-flex-preferred-size: 35%;
		    flex-basis: 35%;
	}
}
@media (max-width: 1005px)
{
    .grid
    {
        grid-template-columns: [line1] 55% [line2] 35% [line3];
        grid-template-rows: [row1] 33% [row2] 33% [row3] 33% [row4];
        justify-items: center;
    }
	.blog-content
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
    }
    .page-about-content
    {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        margin: 20px 0;
    }
    .page-about-content-left
    {
        padding: 10px 10px;
    }
    .about-image
    {
        width: 400px;
        height: 400px;
    }
    .page-about-content-left>h4
    {
        margin-top: 25px;
    }
    .page-about-content-left .black-text
    {
        font-size: 25px;
    }
}
@media (max-width: 945px)
{
	.progress-item 
	{
		line-height: 1.4;
		margin-top: 20px;
		padding-left: 0;
	}
	.progress-block1, .progress-block2
	{
		-ms-flex-preferred-size: 49%;
		    flex-basis: 49%;
	}
}
@media (max-width: 925px)
{
	.footer-4 
	{
		-ms-flex-preferred-size: 43%;
		    flex-basis: 43%;
	}
}
@media (max-width: 855px)
{
	.testi
	{
		grid-template-areas: "a a" "b c";
		grid-template-columns: 1fr 1fr;
	}
	.testi-text
	{
		text-align: center;
	}
	.contact 
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.footer-0
	{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.footer-2, .footer-3 
	{
		-ms-flex-preferred-size: 22%;
		    flex-basis: 22%;
	}
}
@media (max-width: 755px)
{
    .grid
    {
        grid-template-columns: [line1] 55% [line2];
        grid-template-rows: [row1] 17% [row2] 17% [row3] 17% [row4] 17% [row5] 17% [row6] 17% [row7];
        justify-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .serveces-flex-content
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 10px; 
    }
    .grid-flex
    {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding: 10px 100px;
    }
    .grid-content7, .grid-content8, .grid-content9
    {
        max-width: 100%;
    }   
}
@media (max-width: 715px)
{
    .testi
	{
        grid-template-areas: "a" "b" "c";
        max-width: 715px;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .testi-left
    {
        width: 322px;
        height: 500px;
    }
    .testi-right
    {
        padding: 0 70px;
    }
    .testi-right-text
    {
        font-size: 18px;
    }
    .page-company
	{
		height: 400px;
	}
	.company-content
	{
		padding: 10px 0;
	}
}
@media (max-width: 655px)
{
	.team-left-name
    {
        font-size: 15px;
    }
    .team-left-text
    {
        font-size: 25px; 
        width: 200px;
        margin: 0 auto;
    }
	 .team-right
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .team-right-1
    {
        margin-bottom: 20px;
    }
    .team-right-3
    {
        margin-bottom: 20px;
    }
    .team-left-content 
    {
        text-align: center;
        margin: 30px 20px;
        padding: 10px 0;
    }
}
@media (max-width: 500px)
{
    .intro
    {
        background-position: center;
        height: 70vh;
    }
    .intro-content>h1
    {
        font-size: 30px;
    }
    .intro-content>p
    {
        font-size: 13px;
    }
    .st-item>p
    {
        font-size: 25px;
    }
    .company-content
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 20px 0 10px 0;
    }
	.down
	{
		height: 50px;
	}
}
@media (max-width: 470px)
{
	.box-header 
	{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.logo 
	{
		margin: 10px 20px 15px 0px;
	}
	.telefon 
	{
		font-size: 15px;
		vertical-align: middle;
	}
	.cog 
	{
		margin: 0 0 -9px 15px;
	}
	.btn-menu-item 
	{
		margin: 6px 0 0 0;
	}
}
@media (max-width: 400px)
{
	.team-right-1
	{
		height: 200px;
	}
	.team-right-2
	{
		height: 200px;
	}
	.team-right-3
	{
		height: 200px;
	}
	.team-right-4
	{
		height: 200px;
	}
	.intro-content 
	{
		padding: 20px 0;
	}
	.intro-content>h1
	{
		font-size: 20px;
	}
	.intro-content>p
	{
		margin-bottom: 20px;
	}
	.btn-intro 
	{
		font-size: 10px;
		padding: 5px 15px;
	}
	.about-image
	{
		display:none;
	}
	.btn-about 
	{
		font-size: 17px;
	}
	.about-a 
	{
		padding: 20px 0 0 0;
	}
	.st-item 
	{
		padding: 30px 0 160px 0;
	}
	.page-about-content-left>h4 
	{
		font-size: 15px;
		margin: 10px 0;
	}
	.page-about-content-left .black-text 
	{
		font-size: 17px;
	}
	.about-p 
	{
		font-size: 18px;
	}
	.serveces-flex-content 
	{
		padding: 10px 0;
	}
	.grid-flex 
	{
		padding: 0;
	}
	.black-text 
	{
		font-size: 25px;
	}
	.customer 
	{
		font-size: 18px;
	}
	.testi 
	{
		padding: 0;
	}
	.testi-left 
	{
		width: 160px;
		height: 250px;
		margin-left: 75px;
	}
	.testi-right 
	{
		padding: 0px 17px;
	}
	.testi-right>p 
	{
		margin: 0 0 15px 0;
	}
	.testi-right-text 
	{
		font-size: 15px;
	}
	.page-company 
	{
		height: 250px;
	}
	.company-content-size
	{
		width: 110px;
		height: 110px;
	}
	.page-progress
	{
		height: 350px;
	}
	.progress, .progress-block1, .progress-block2
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.progress-item 
	{
		line-height: 0.5;
		margin: 0;
		padding: 0;
		font-size: 1.3rem;
	}
}